@charset "utf-8";
body,div,ul,li,dl,dt,dd,h2,p{color:#666; margin:0px; padding:0px; font-family:"宋体";}
ul{list-style:none ;}
img{border:none;}



/* 右侧浮动 */
#floatPanel .ctrolPanel{width:36px; height:100%; background:#333; position:fixed; right:0px; top:0px; z-index:10000; _position:absolute; /* for IE6 */_top:expression(documentElement.scrollTop + 300); padding-top:190px;}
#floatPanel .ctrolPanel .logo { float:left; width:36px; height:36px; display:block;}
#floatPanel .ctrolPanel .logo .logo_dong { float:left; width:50px; background:#ff4400; line-height:37px; color:#fff; padding-left:10px; padding-right:10px; height:36px; position:relative; left:-70px; top:-29px;}
#floatPanel .ctrolPanel .vip { float:left; width:36px; height:36px; display:block; border-bottom:solid 1px #000; text-align:center;}
#floatPanel .ctrolPanel .vip a:hover{ width:36px; height:36px; display:block; border-bottom:solid 1px #333; background:#ff4400;}
#floatPanel .ctrolPanel .vip img { padding-top:8px;}
#floatPanel .ctrolPanel .buy { float:left; width:36px; height:106px; text-align:center; color:#fff; display:block; border-bottom:solid 1px #000;}
#floatPanel .ctrolPanel .buy a{width:36px; height:94px; color:#fff; padding-top:8px; padding-bottom:8px; display:block; text-decoration:none;}
#floatPanel .ctrolPanel .buy a:hover{width:36px; height:94px; color:#fff; display:block; background:#ff4400; text-decoration:none;}
#floatPanel .ctrolPanel .buy span { float:left; background:url(../images/right_yuan.png); color:#999; width:20px; height:17px; text-align:center; padding-top:3px; margin-left:8px; margin-top:5px;}
#floatPanel .ctrolPanel .buy img { padding-bottom:5px; padding-right:5px; padding-left:5px;}
#floatPanel .ctrolPanel .buy b { padding-left:5px; font-weight:normal;}
#floatPanel .ctrolPanel .rmb { float:left; width:36px; display:block; text-align:center; clear:both;}
#floatPanel .ctrolPanel .rmb a{ width:36px; height:36px; display:block;}
#floatPanel .ctrolPanel .rmb a:hover{ width:36px; height:36px; display:block; background:#ff4400;}
#floatPanel .ctrolPanel .erweima { float:left; width:36px; height:36px; display:block; text-align:center; margin-top:200px;}
#floatPanel .ctrolPanel .erweima a:hover{ width:36px; height:36px; display:block; background:#ff4400;}
#floatPanel .ctrolPanel .erweima .erweima_dong { float:left; width:135px; background:#000; line-height:20px; color:#fff; padding-left:10px; padding-right:10px; height:180px; position:relative; left:-155px; top:-169px;}
#floatPanel .ctrolPanel .erweima .erweima_dong img{ padding-top:10px;}
#floatPanel .ctrolPanel .top { float:left; width:36px; height:36px; display:block; text-align:center;}
#floatPanel .ctrolPanel .top a:hover{ width:36px; height:36px; display:block; background:#ff4400;}





/* 登录 */
.new_login_rights{
	float:right; 
	width:385px;
	height:366px;
	background-color: #fff;
	filter: Alpha(Opacity=43);
	opacity: 0.3;
	position:relative;
	z-index:10003;
	top:-395px;
	right:70px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #e6e6e6;
    box-shadow:0 0 10px #e6e6e6;
	-moz-box-shadow: 0 0 10px #e6e6e6;
    -webkit-box-shadow: 0 0 10px #e6e6e6;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#e6e6e6')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#e6e6e6');
}
.new_login_right {
	float:right; 
	width:345px;
	height:346px;
	overflow:hidden;
	padding:20px 20px 0 20px;
	position:relative;
	z-index:10004;
	top:-395px;
	right:-317px;
}
.new_login_right1 {
	float:left; 
	width:345px;
	height:346px;
	position:relative;
	top:-20px;
	left:0;
	overflow:hidden;
}
.new_login_right_tt { float:left; width:345px; font-size:16px; font-family:'微软雅黑'; color:#333px;}
.new_login_right_tt strong {float:right; font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:normal; color:#eee; padding-top:5px;}
.new_login_right_tt strong a { color:#f44444;}
.new_login_right_input1_d{
	float:left;
	width:12px;
	height:17px;
	position:relative;
	z-index:99999;
	top:45px;
	left:10px;
	background:url(../images/new_login_01.jpg) 0 0 no-repeat;
}
.new_login_right_input1_d1{
	float:left;
	width:12px;
	height:17px;
	position:relative;
	z-index:99999;
	top:118px;
    left: 0;
	background:url(../images/new_login_02.jpg) 0 0 no-repeat;
}
.new_login_right_input1 {float:left; width:313px; height:50px;margin:10px 0 0 0; border:solid 1px #e6e6e6; font-size:14px; color:#999; line-height:50px; padding-left:30px;}
.new_login_right_input2 {float:left; width:313px; height:50px; border:solid 1px #e6e6e6; font-size:14px; color:#999; line-height:50px; padding-left:30px;}
.new_login_right_anniu {float:left; width:100%; height:50px;margin:20px 0 0 0; border:none; background:#f44444; cursor:pointer;text-align:center; line-height:50px; color:#fff; font-size:16px; font-family:'微软雅黑'; display:block;}
.new_login_right_dd {float:left; width:345px; font-size:12px; margin-top:10px;}
.new_login_right_dd_right {float:right; font-weight:normal; color:#ff4400; text-decoration:underline;}


