/* CSS Document */
body { color: #666666; font-family: "微软雅黑",Gadget,sans-serif; font-size: 12px; margin: 0; padding: 0; position: relative;}
article, aside, dialog, footer, header, section, footer, nav, figure, menu, form {  display: block;}
a, h1, h2, h3, h4, h5, h6, li, ul, ol, p, nav, selection ,form{ margin: 0; padding: 0;}
img { border: medium none;}
li { list-style: outside none none;}
a { outline: medium none; text-decoration: none; color:#666;}
a:hover{ color:#f7944c;}
.page , .main{ width:1200px;}
.clear { clear: both;}


/*顶部*/
.top { background:#f7f7f7; border-bottom: 1px solid #d8d8d8; height: 26px; line-height: 26px;/*position: relative;width: 100%; z-index: 10001; float: left;*/ }
.page { height: 25px; line-height: 25px; margin:0 auto; width: 1240px;}
.pageleft { float: left; height: 26px;/*  width:600px */}
.pageleft span {color: #555;display: block; float: left;}
.welimg img { margin-top: 7px; padding-left: 5px; padding-right: 5px;}
.lightblue { color: #666666; float: left;}
.pxlr { padding-left: 5px; padding-right: 5px;}
.pageright {  float: right;}
.quick-menu li { float: left;}
.search .menu-hd s {/* background: url("../images/mbg.png") no-repeat scroll left center rgba(0, 0, 0, 0);*/}
 .icon-cart3 { background:url(../images/qiet.png) -22px -9px; width:25px; height:25px; display:block; float:left;}
.quick-menu li {  background-position: right 6px; float: left; margin-left: -1px; padding: 2px 10px 0;}
.quick-menu li.menu-item { padding: 0;position: relative; z-index: 10001;}
.menu-hd { cursor: pointer; display: block; height: 20px;  margin: 1px 1px 0;  padding: 0 22px 0 10px; position: relative; z-index: 10002;}
.menu-hd b { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: rgb(105, 102, 102) transparent transparent; border-image: none;
 border-style: solid;border-width: 4px; font-size: 0; height: 0;line-height: 0; position: absolute; right: 10px; top: 12px; transition: -webkit-transform 0.2s ease-in 0s;  width: 0;}
.search .menu-hd { color: #666; padding-left: 8px;}
.search .menu-hd s { background-position: -67px -20px; height: 13px; left: 9px; position: absolute; top: 4px; width: 14px;}
.menu-bd { background: none repeat scroll 0 0 #fff; border-color: #bfbfbf;  border-right: 1px solid #bfbfbf; border-style: solid; border-width: 1px;  display: none;  position: absolute; right: 0; top: 21px; z-index: 10001;}
.menu-bd-panel { padding: 10px 10px 6px;}

/*主要内容*/
/*头部*/
/* form{ height:90px;} */
.menu { position: relative;}
.menu:hover .menu-hd {  background: none repeat scroll 0 0 white;  border-color: #bfbfbf;  border-right: 1px solid #bfbfbf;  border-style: solid solid none;  border-width: 1px;  margin: 0;}
.hover .menu-hd { background: none repeat scroll 0 0 white; border-color: #bfbfbf; border-right: 1px solid #bfbfbf; border-style: solid solid none; border-width: 1px; margin: 0;}
.menu:hover .menu-bd { display: block;}
.hover .menu-bd { display: block;}
.menu:hover .menu-hd b { border-color: #666 #fff #fff; top: 11px; transform: rotate(180deg); transform-origin: 50% 30% 0;}
.mytaobao .menu-bd { line-height: 1.7;top: 21px; width: 94px;}
.mytaobao .menu-bd-panel { padding: 8px 10px;}
.mytaobao .menu-bd-panel a { display: block; text-align: left;}
.search .menu-bd { overflow: hidden; top: 21px; width: 340px;}
.menupx { background: url("../images/shu.jpg") no-repeat scroll right 70% rgba(0, 0, 0, 0); padding-left: 5px; padding-right: 5px;}
.gwc { overflow: hidden;width: 340px;}
.gwc h1 { color: #d74f34;font-size: 12px; font-weight: lighter;}
.shopp_ingtop { border-top: 1px solid #f1f1f1; float: left; width: 320px;}
.shopimg { float: left; margin-right: 10px; padding-top: 5px;}
.shopp_ingtop span { display: block; float: left;}
.shopl {display: block; float: left; width: 180px;}
.shopl_del { display: block; float: left; text-align: right; width: 215px;}
.shopbtn { float: right; margin-top: 10px; padding-right: 40px;}
.shopbtn a { background: url("../../system/front/default/images/ckgwc.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; color: #fff; font-size: 12px; height: 23px; padding: 3px 3px 5px 5px; text-align: center;}
.main { /*clear: both; */margin-left: auto;/* margin-right: auto;*/ margin:0 auto; width: 1200px; display:block; }
.header { height: 110px; position: relative; width:89%; z-index: 10000;}
.logo { float: left; height: 55px; padding-top: 25px; width: 200px;}
.logo span { display: table-cell; height: 100px; overflow: hidden; position: relative; text-align: center; vertical-align: middle; width: 200px;}
.logo span p {  left: 50%; top: 50%;}
.logo span p img { left: -50%; top: -50%;}
.toph_bigsearch { float:right; margin-top: 20px; padding-left: 70px; width: 466px; position:relative; right:-120px;}
.toph_sear { border: 3px solid #ed1c24; height: 38px; position: relative; width: 466px;}

.toph_sear_txt { border: 0 none;  line-height: 36px; padding-left: 10px; position: absolute; top: 0; width: 360px; color:#7e7e7e}
.toph_sear_btn {background: none repeat scroll 0 0 #ed1c24; border: 0 none; color: #fff; font-size: 16px; height: 40px; position: absolute;  right: 0; top: 0; width: 93px;}
.keyword { clear: both; height: 30px;line-height: 30px; overflow: hidden; width: 520px;}
.keyword a { margin-left: 5px;margin-right: 5px; white-space: nowrap; color: #8e8e8e;}
.keyword a:hover { text-decoration: underline;}

.keyword_baise { clear: both; height: 30px;line-height: 30px; overflow: hidden; width: 520px;}
.keyword_baise a { margin-left: 5px;margin-right: 5px; white-space: nowrap; color: #fff;}
.keyword_baise a:hover { text-decoration: underline;}

.orange { color: #f60;}
.two_code {margin-top: 5px; position: absolute; right: 0; width: 115px;}
.two_code_box {border: 1px solid #ddd; float: left; width: 84px;}
.two_code_box b {  display: block; height: 20px; line-height: 20px; text-align: center;}
.two_code_a {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;  -moz-border-top-colors: none;  background: url("../../system/front/default/images/two_code_a.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
 border-color: #ddd -moz-use-text-color #ddd #ddd; border-image: none; border-style: solid none solid solid; border-width: 1px 0 1px 1px; display: block; float: left; height: 19px; width: 19px;}
.two_code_a:hover { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: url("../../system/front/default/images/close_code.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  border-color: #ff4400 -moz-use-text-color #ff4400 #ff4400; border-image: none; border-style: solid none solid solid; border-width: 1px 0 1px 1px;
}
.sannav { float: right; margin-right: 10px; margin-top: 20px;}


.nav { border-bottom: 2px solid #ff4400; height: 40px; position: relative; width: 100%; z-index: 9999;display:block;}
.navleft {color: #fff;float: left;font-size: 15px;height: 35px; position: relative; width: 185px;}
.navleft .nav_lefts { background: none repeat scroll 0 0 #ed1c24; cursor: pointer; display: block; height:35px;line-height: 35px; padding-left:20px;}
.navleft .nav_lefts span { display: block; font-size: 16px; height: 4px; position: absolute; right: 20px; top: 18px; width: 7px;}
.navul {  float: left; list-style-type:none;margin:0;padding:0;height:40px;}
.navul li { float: left;font-size:16px;height:40px; line-height:40px;margin:0;padding:0 10px;}
.navul li .this { background: url("../images/nav.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0); color: #f60; display: block; line-height: 40px;}
.navul_span { color:#fff; font-size: 16px;}
.navul_span a{ color:#fff; font-size: 16px;}
.navul_span a:hover{ color:#fff; font-size: 16px; text-decoration:underline;}
.d_img{display: block; float: left; height: 30px; width: 30px;}
.shop_left_btn_con li .left_img02{ background-position:-43px 45px;}
.shop_left_btn_con li .left_img03{ background-position:-69px 45px;}
.shop_left_btn_con li .left_img04{ background-position:-96px 45px;}
.shop_left_btn_con li .left_img05{ background-position:-120px 45px;}
.shop_left_btn_con li .left_img06{ background-position:-143px 45px;}
.shop_left_btn_con li .left_img07{ background-position:-168px 45px;}
.shop_left_btn_con li .left_img08{ background-position:-195px 45px;}
.shop_left_btn_con li .left_img09{ background-position:-224px 45px;}
.shop_left_btn_con li .left_img10{ background-position:-251px 45px;}
.shop_left_btn_con li .left_img11{ background-position:-276px 45px;}
.shop_left_btn_con li .left_img12{ background-position:-304px 45px;}
.shop_left_btn_con li .left_img13{ background-position:-330px 45px;}
.shop_left_btn_con li .left_img14{ background-position:-355px 45px;}
.shop_left_btn_con li .left_img15{ background-position:-381px 45px;}
.shop_left_btn_con li .left_img16{ background-position:-408px 45px;}
.nav_arrow{width:20px; height:20px; float:right; display:block;}

.index_main{
	width:1200px;
	margin:0 auto;
}
.index_d1 {float:left;width: 185px; margin:495px 0 0 0;padding:0;}
.index {float:left;width: 1200px;margin:10px 0 0 0;padding:0;clear:none;overflow:hidden;}
.indextop {/* [disabled]float: left; */height: 497px;width: 1200px;}
	
/*左侧边栏*/
.index_menu { background: #fafafa; border:#ed1c24 1px solid;float: left; padding-top: 2px; width: 183px; z-index: 1; }
.menuhidden {float: left;height:100%;position: relative;width: 163px;z-index: 1000;}
.shop_left_btn_con {float: left;width: 185px; height:495px;}
.shop_left_btn_con li { /* background: url("../images/su.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0); */ border-bottom:1px solid #fff; cursor: default;  float: left; font-size: 13px; height: 30px; line-height: 30px; position: relative; width:183px;}
.shop_left_btn_con span { color: #707070;padding: 0 10px 0 0;}
.shop_left_btn_con span.title { color: #795130;}
.shop_left_btn_layer {display: none; height: 32px; left: 0;position: absolute;top: -1px; width: 700px;}
.shop_left_btn_layer_left { background: none repeat scroll 0 0 #fff;border: #f3aa59 solid 1px ; border-right:none; color: #333; float: left; height: 30px; line-height: 30px;  padding-left: 11px; position: absolute;width: 169px;  z-index: 2;overflow:hidden;}
.shop_left_btn_layer_right {-moz-border-bottom-colors: none;-moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: url("../images/left_btn_line.jpg") repeat-y scroll -1px top #fff;border:1px solid #f3aa59;float: left; padding: 0 10px 10px; position: relative; left:184px; width: 993px; z-index:99999;}
.shop_left_one { border-bottom: 1px dashed #ccc;float: left; font-size: 12px; margin-top: 10px; width: 993px;}
.shop_left_btn_layer_tit {float: left; line-height: 19px; overflow: hidden; padding-top: 8px; width: auto;}
.shop_left_btn_layer_tit span { color: #333; float: left; font-weight: bold; width: 60px;}
.shop_left_btn_layer_tit a { color: #795130; float: left;}
.shop_left_btn_layer_con { float: left; width: 915px;}
.shop_left_btn_layer_con dl { margin: 0; padding: 0 0 0 8px; width: 914px;}
.shop_left_btn_layer_con dt { font-weight: bold; margin: 0; padding: 5px 0 0; width: 914px;}
.shop_left_btn_layer_con dt a { color: #f60;}
.shop_left_btn_layer_con dt a:hover {color: #f60;}
.shop_left_btn_layer_con dd { line-height: 20px; margin: 0; width: 914px;}
.shop_left_btn_layer_con dd a {color: #666; display: block;float: left;margin: 0; overflow: hidden; white-space: nowrap;width: 92px;}
.shop_left_btn_layer_con dd a:hover {color: #f30;}
.shop_left_btn_con li .d { /* background: url("../images/dianc.gif") no-repeat scroll 25px center rgba(0, 0, 0, 0); */color: #333;display: block; padding-left: 12px; width: 154px;height:30px;overflow:hidden;}
.shop_left_btn_con li .d a { color: #565656;}



/*广告图*/

.index_tm { float: left; height: 498px; overflow: hidden; position: relative; width: 786px; left:22px;}
.index_hdp{ height:498px;}
.comiis_wrapad{ width:100%; height:100px}
.banner_img{ position:relative; z-index:1;}
.banner_img li{ width:100%; height:329px; float:left;}
.banner_img li a{width:100%; height:100%; display:block;}
.banner_img li a img{ width:100%; height:100%}
.banner_point{ position:relative; height:35px; z-index:99; top:-35px; float:right; margin-right:10px; }
.banner_point li{ float:left; margin:5px 5px;width:20px; height:20px; color:#fff; display:block; line-height:20px; text-align:center; filter:alpha(opacity:50);opacity:0.5; background:#000 ;border-radius:16px;  }
/*.banner_point li a{ }*/
.banner_point li.banner_on{ background:#ed1c24;filter:alpha(opacity:70);opacity:0.7; border-radius:16px;}
#tab{position:relative;}
#slideContainer{ height:329px;}
#slidesImgs{ height:329px;}

.shopsep{ width:786px; height:167px; border-bottom:1px solid #e7e7e7; border-top:1px solid #e7e7e7; position:relative; top:-35px;  overflow:hidden; z-index:1;}
.arrow_left{ width:26px; height:100%;  float:left; position:relative;z-index:99; background:#fff; }
.arrow_left a{ width:100%; height:41px; background: url("../images/qiet.png") no-repeat scroll -120px -5px rgba(0, 0, 0, 0); background: url("../images/qiet.png")\0; background-position:-120px -5px\0; display:block;  margin: 60px 10px 20px 5px; }
.arrow_left a:hover{ background-position:-174px -5px;}
.add_img{ width:736px; float:left; height:100%; display:inline; overflow:hidden;/* zoom:1;*/ z-index:1}
.add_img ul li{ float:left; width:243px; height: 167px; border-right:1px solid #e7e7e7;}
/*.add_img li:nth-child(3n+0){border-right:none;}
.add_img ul>li+li+li{border-right:none;}*/
.add_img li img{  vertical-align: middle; width:100%; height:100%;}
.arrow_right{width:28px; height:100%;   float:right; border-right:1px solid #e7e7e7; display:block; background:#fff; position:relative; z-index:99; top:-167px;}
.arrow_right a{ width:100%; height:41px; background: url("../images/qiet.png") no-repeat scroll -146px -5px rgba(0, 0, 0, 0); display:block; background: url("../images/qiet.png")\0; background-position:-146px -5px ;  margin: 60px 10px 20px 5px; }
.arrow_right a:hover{ background-position:-200px -5px;}
/*头部右侧*/
.right_con{ width:229px; height:497px; float:right; border:1px solid #e7e7e7; border-left:none; border-top:none;}
.right_jion{ width:100%; height:120px; background:url(../images/jion_bg.jpg) no-repeat;}
.right_jion .jion_bt{ width:200px; height:62px; margin-left:15px;  padding-top:12px; padding-bottom:10px; }
.right_jion .jion_bt span{ width:62px; float:left;}
.right_jion .jion_con{ float:left; line-height:35px; margin-left:15px;}
.right_jion .jion_con a:hover{ background:#dd960d}
.right_jion .jion_con a{ display:block; width:84px; height:25px; background:#f3a40b; line-height:25px; text-align:center; color:#fff;}
.right_jion .jion_bottom{ width:100%; height:27px;}
.right_jion .jion_bottom a{ width:115px; height:27px; text-align:center; color:#fff; display:block; line-height:27px;}
.right_jion .register_a{ background:#82b8dd;  margin-top: 6px;}
.right_jion .register_a:hover{ background:#6ca8d0;}
.right_jion .seller_a{ background:#fb7b52; float:right; position:relative; top:-27px }
.right_jion .seller_a:hover{ background:#ec7047}

.right_con .home_news{ width:100%; height:168px; margin-top:10px;}
.right_con .home_news h1{ font-size:14px; font-weight:bold; line-height:32px; background:#f7f7f7; width:100%; }
.right_con .home_news ul{ margin-top:5px;}
.right_con .home_news li a{ line-height:25px;}
.right_con .home_news .news_con{ float:left; width:180px; margin-left: 6px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.right_con .home_news .news_data{ float:right; width:40px; }

.right_con .right_serve{ width:100%;}
.right_con .right_serve ul{ border:1px solid #e7e7e7;  border-left:none; border-right:none; height:32px;}
.right_con .right_serve li{ height:100%; float:left;}
.right_con .right_serve li a{ padding:0px 15px; line-height:32px; border-right:1px}
.right_con .right_serve .serve_on{ height:33px; background:#fff; border-right:1px solid #e7e7e7; border-left:1px solid #e7e7e7;}
.right_con  .phone_input{ height:26px; margin:10px 0 10px 9px; border:1px solid #ccc; line-height:26px; color: #c0c0c0; width:206px;}
.right_con .bill_no{margin:0px 5px 10px 9px;}
.bill_no span{ font-weight:bold; width:35px; float:left; height:70px; line-height:32px;}
 .bill_ai ul{ border:none;}
 .bill_ai li{ float:left; margin-right:5px; margin-top:5px;}
 .bill_ai li a{ background:#b4b4b4; height:20px;  display:block; color:#fff; text-align:center; line-height:20px; padding:0px; width:50px;}
.bill_ai li a:hover{ background-color:#ccc;}
 .bill_no  .bill_on{ background:#ed9100}
 .bill_sure{  width:142px; background:#f77b03; border:1px solid #cd9661; margin-left:42px;}
  .bill_sure a{ color:#fff; line-height:32px; text-align:center; display:block;}
 .bill_sure a:hover{ background:#e89342;}

/*橱窗推荐*/
.recommend_live{ width:100%;margin-top: 15px;}
.recommend_live .live_top{ width:100%; height:30px;}
.recommend_live h1{ height:30px; width:200px; background:url(../images/qiet.png) no-repeat -234px -5px; float:left}
.change_more { float:right; margin-right:5px; font-size:12px; font-weight:400; line-height:30px; width:60px;}
.break_icon{ width:20px; height:20px; float:left; display:block; background:url(../images/qiet.png) -75px  -8px; margin-top:2px;}
.recommend_live ul{ width:100%; border:1px solid #e7e7e7; height:266px; }
.recommend_live ul li{ width:199px; border-right:1px dashed #e7e7e7; float:left}
.recommend_live ul li:nth-child(6){ border-right:none;}
.recommend_live ul>li+li+li+li+li+li{ border-right:none;}
.recommend_live ul li a{display:block;}
.recommend_live ul li img{ width:140px; height:140px; margin:10px 20px 10px 20px; display:block;}
.recommend_live .good_live{ width:170px; height:40px; line-height:18px; overflow:hidden; /*text-overflow: ellipsis;white-space: nowrap;*/ margin-left:15px; margin-right:15px; font-size:14px;}
.recommend_live .live_price{ font-size:24px; color:#ff0000; margin-left:15px;}
 .price_old{ font-size:12px; color:#a5a5a5; text-decoration:line-through;} 
.recommend_live .good_something{ margin:8px 15px 10px 15px;}
.shop_name{ float:left; width:90px; height:18px; overflow:hidden; padding-top:10px;}
.shop_loaction{ float:right; width:72px; height:18px; overflow:hidden; padding-top:10px;}

/*广告01*/
.add_01{ width:100%; height:62px; margin-top:18px;}

/*楼层*/
.floor{ width:100%; margin-top:18px;}
.farm_color{ border-bottom:2px solid #82a757 ;}
.floor_left{ float:left; width:175px; position:relative; z-index:1;}
.floor_left h1{ background:#82a757; height:40px; line-height:40px; font-size:18px; color:#fff; width:175px; font-weight:500;}
.floor_left h1 span{ width:25px; height:25px; background:#fff; border-radius:15px; color:#82a757; margin-left:10px; font-size:14px; text-align:center; line-height:25px;  display: inline-block;}
.floor_left .left_height{ width:173px; height:auto; border:1px solid #e7e7e7; border-top:none; height:320px;}
.floor_left ul li{ width:75px; margin-left:8px; float:left; height:32px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.floor_left ul li a{ display:block; width:100%; font-size:12px; line-height:30px;}
.left_add{ width:100%; position:relative; z-index:99; bottom:-8px;  }
.left_add a{ width:100%; display:block; }
.left_add img{ width:100%; height:150px; margin-top:10px;}
.left_list{ width:100%; height:359px;}


.floor_middle{ float:left; width:825px;}
.floor_middle .middle_title{ width:100%; height:40px; font-size:13px; line-height:40px;background:#f7fcf1;position:relative; top:2px;}
.floor_middle .middle_title li{ width:19.89%; height:100%; float:left; cursor:pointer; text-align:center;}
.floor_middle .middle_title li a{ width:100%; height:100%; text-align:center; display:block}
.title_on{ background:#fff; color:#82a757}
.narmal01 {background:#f7fcf1;}
.middle_good{ width:100%;}
.middle_good li{ float:left; width:19.88%; width:19.87%\0;border:1px solid #e7e7e7; border-left:none; border-top:none;}
.middle_good li:nth-child(5){ border-right:none;}
.middle_good ul>li+li+li+li+li{ border-right:none;}
.middle_good li:last-child{ border-right:none;}
.middle_good li img{ width:100px; height:100px; margin:10px 30px;}
.middle_good li .good_title{ margin:0 15px; overflow:hidden; font-size:13px; line-height:20px; height:40px; text-overflow: ellipsis; white-space:normal;}
.good_price{ font-size:18px; color:#ff0000; margin:8px 0 8px 15px;}

.good_price{ font-size:18px; color:#ff0000; margin:5px 0 5px 15px;}
.botoom_good li{ width:33.25%; width:33.21%\0;height:125px; height:125px\0;}
.botoom_good li img{ float:left; margin-left:8px; margin-right:5px;}
.botoom_good_tit{ float:left; width:160px; margin-top:25px; display:inline}
.middle_good li .botoom_good_tit .bottom_a{ margin-left:8px; margin-right:5px;}



.floor_right{ float:right; width:198px; border:1px solid #e7e7e7; height:358px; border-top:none; margin-top:2px; }
.floor_right li{ width:98px; height:35px; float:left; border-bottom:1px dashed #f1f1f1; float:left;}
.floor_right li a{ width:100%; height:100%; display:block;}
.floor_right li a img{ width:100%; height:100%;}
.right_add02 img{ width:100%; height:179px; position:relative; top:-1px;}

/*流行服饰*/
.cloth_bg{  border-bottom:2px solid #fc6385;}
.cloth_num h1{ background:#fc6385;}
.cloth_num h1 span{ color:#fc6385;}
.floor_middle  .cloth_tit{ background:#fff4f6;}
.cloth_on{ color:#fc6385; background:#fff;}
.floor_left .cloth_left{ height:520px;}
.cloth_right{ height:557px;}
.right_add03 img{ position: relative; top: -1px; width: 100%; height:380px;}
.left_height h2{ font-size:14px; color:#333; margin-left:10px;/* margin-top:4px;*/}
.cloth_add01{ bottom:0;}
.cloth_add044{ width:495px; height:198px; float:left}
.cloth_add044 a img{ width:100%; height:100%;}
.middle_good .good_diff{ border-right:none;}

/*鞋包配饰*/
.shose_bg{  border-bottom:2px solid #fbb81c;}
.shose_num h1{ background:#fbb81c;}
.shose_num h1 span{ color:#fbb81c;}
.shose_on{color:#fbb81c; background:#fff;}
.floor_middle  .shose_tit{ background:#fefaef;}

/*家电数码*/
.digit_bg{ border-bottom:2px solid #3089e1;}
.digit_num h1{ background:#3089e1;}
.digit_num h1 span{ color:#3089e1;}
.digit_on{color:#3089e1; background:#fff;}
.floor_middle  .digit_tit{ background:#eff7ff;}

/*户外运动*/
.run_bg{ border-bottom:2px solid #4dc1bc;}
.run_num h1{ background:#4dc1bc;}
.run_num h1 span{ color:#4dc1bc;}
.run_on{color:#4dc1bc; background:#fff;}
.floor_middle  .run_tit{ background:#eafbfa;}

/*个人护理*/
.nursing_bg{ border-bottom:2px solid #03ddde;}
.nursing_num h1{ background:#03ddde;}
.nursing_num h1 span{ color:#03ddde;}
.nursing_on{color:#4dc1bc; background:#fff;}
.floor_middle  .nursing_tit{ background:#eafbfa;}

/*帮助层*/
.help_much{ width:1200px; height:188px; border:1px solid #e7e7e7; border-bottom:#e66330 solid 2px; margin:0 auto; margin-top:18px;}
.help_much h3{ font-size:16px; margin:10px 0 5px;}
.help_much ul{ width:10.7%; margin:5px 1.5% 5px 2%; float:left;}
.help_much ul li{ width:100%; }
.help_much ul li a{ width:100%; display:block; line-height:28px;}

/*商家合作*/
.footer-hd {width:1200px ; margin:0 auto;}
.footer-hd h1{ font-size:14px; margin-left:8px; display:block; float:left; line-height:25px; }
.footer-hd p{line-height: 27px; margin-bottom: 8px; overflow:hidden;}
.footer-hd a { color: #6c6c6c; float: left; margin: 0 4px; white-space: nowrap;}
.footer-hd b { color: #ddd;float: left;font-weight: 400; margin: 0 3px;}

/*底部*/
footer {background: #fff; border-top: 1px solid #e7e7e7;  width: 1200px; margin:0 auto; margin-top:18px;}
footer ul li { color: #666;line-height: 30px;text-align: center;}
footer ul li a {margin-left: 5px;margin-right: 5px;}
.other_footer{margin-top:98px; margin-top:0\0;}


/*顶部所在区哉*/

.log_ps {
	position: relative;
	float: left;
	z-index:99999;
}

.log_d a {
	padding: 5px 10px;
	float: left;
	display: inline-block;
	line-height: 18px;
}

.log_d em {
	font-style: normal;
	float: left;
}

.log_d a i {
	width: 6px;
	height: 3px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
	background: url(../../system/front/default/images/icon_3.png) no-repeat right center;
}

.log_d a:hover {
	padding: 4px 9px;
	border: 1px solid #ffcba9;
	color: #F60;
	background: #ffece0;
	float: left;
}

.goods_ct {
	width: 394px;
	position: absolute;
	top: 28px;
	left: -70px;
	border: 1px solid #cccccc;
	padding: 5px 10px;
	background-color: #fafafa;
	z-index: 9999;
}

.goods_ct h3 {
	font-size: 14px;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
	width: 394px;
	float: left;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.goods_ct .h3_l {
	float: left;
}

.goods_ct .h3_r {
	float: right;
}

.goods_ct p {
	width: 394px;
	float: left;
	margin-bottom: 5px;
}

.goods_ct p a {
	color: #999;
}

.goods_ct p a:hover {
	text-decoration: underline;
}

.Region {
	width: 394px;
	float: left;
}

.Region ul {
	width: 394px;
	float: left;
}

.Region ul li a {
	padding: 0px 10px;
	overflow: hidden;
	width: 56px;
	display: block;
}

.Region ul li a:hover {
	background-color: #F90;
	color: #FFF;
	padding: 0px 10px;
	height: 20px;
}

.Region .item {
	position: relative;
	width: 78px;
	float: left;
	padding-bottom: 8px;
	white-space: nowrap;
	height: 22px;
	line-height: 22px;
}

.Region .Cities {
	width: 270px;
	position: absolute;
	top: 13px;
	left: 53px;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	padding: 10px;
	z-index: 9999;
}

.Region .Cities ul {
	width: 270px;
	float: left;
}

.Region .Cities ul li {
	width: 82px;
	float: left;
	height: 22px;
	line-height: 22px;
	white-space: normal;
	overflow: hidden;
}

.Region .Cities ul li a {
	width: 70px;
	padding: 0px 5px;
	float: left;
	height: 20px;
	line-height: 20px;
}

.detailsbottom_ps {
	width: 465px;
	position: relative;
	float: left;
	z-index: 999;
}

.detailsbottom_hover {
	width: 463px;
	border: 1px solid #F60;
	background-color: #fffdfc;
	overflow: hidden;
	padding-bottom: 10px;
}

.detail_chose {
	padding-left: 20px;
	color: #F60;
}

.Close {
	position: absolute;
	top: 15px;
	right: 5px;
}

.Close a {
	color: #F60;
}

.datespan_num {
	width: 80px;
	text-align: right;
	margin-right: 10px;
	line-height: 30px;
	color: #F30
}

.detail_solid {
	width: 465px;
	float: left;
	border-top: 1px solid #eeeeee;
}
.index2{
	float:left;
	width:100%;
	height:auto;
	margin:10px 0 0 0;
	display:inline;
}
.indexs{
	float:left;
	width:100%;
	height:auto;
	margin:0;
	padding:10px 0;
	display:inline;
}
.index2s{
	float:left;
	width:100%;
	height:auto;
	margin:0;
	display:inline;
}
/******/
.index_goods_class{
	width:1200px;
	height:35px;
	margin:0 auto;
	border-bottom:2px solid #f44444;
}
.index_goods_class li{
	float:left;
	width:auto;
	padding:0 10px;
	line-height:35px;
	font-size:14px;
}
.index_goods_class li a{
	text-decoration:none;
	font-size:16px;
	color:#666;
}
.index_goods_class li a:hover{
	text-decoration:none;
	font-size:16px;
}