<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd">
	<!-- 开启AOP监听 只对当前配置文件有效 -->
	<aop:aspectj-autoproxy expose-proxy="true" />
	<aop:config expose-proxy="true" proxy-target-class="true">
	</aop:config>

	<context:property-placeholder location="classpath:resources.properties" />
	<!-- 注解事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:annotation-config />

	<context:component-scan base-package="com.forerunner" />
	<bean class="com.forerunner.core.tool.SpringUtils"></bean>
<!-- 	<bean class="com.forerunner.core.service.system">
		<property name=""></property>
	</bean> -->
	<!-- jpa配置 -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="${jpa.persistenceUnitName}" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
				<property name="generateDdl" value="${jpa.generateDdl}" />
				<property name="database" value="${jpa.database}" />
				<property name="showSql" value="${jpa.showSql}" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="eclipselink.weaving" value="false" />
				<entry key="eclipselink.connection-pool.default.initial"
					value="1" />
				<!-- <entry key="eclipselink.connection-pool.default.shared" value="true" 
					/> -->
				<entry key="eclipselink.connection-pool.default.max" value="150" />
				<entry key="eclipselink.connection-pool.default.min" value="1" />
				<entry key="eclipselink.jdbc.read-connections.min" value="20" />
				<entry key="eclipselink.jdbc.write-connections.min" value="20" />
				<entry key="eclipselink.jdbc.batch-writing" value="JDBC" />
				<!-- <entry key="eclipselink.cache.size.default" value="50000"/> <entry 
					key="eclipselink.cache.type.default" value="Soft"/> <entry key="eclipselink.jdbc.cache-statements" 
					value="true"/> <entry key="eclipselink.jdbc.cache-statements.size" value="100000"/> 
					<entry key="eclipselink.weaving.changetracking" value="true"/> <entry key="eclipselink.jdbc.read-connections.shared" 
					value="true"/> <entry key="eclipselink.flush-clear.cache" value="Drop"/> -->
			</map>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- JPA自定义实现类配置 类的后缀为 Impl -->
	<jpa:repositories base-package="com.forerunner.core.repository"
		factory-class="com.forerunner.core.repository.BaseRepositoryFactoryBean"
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" repository-impl-postfix="Impl" />

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="com.forerunner.core.repository.RepositoryHelper.setEntityManagerFactory" />
		<property name="arguments" ref="entityManagerFactory" />
	</bean>

	<!-- Redis配置 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}"
		p:pool-config-ref="poolConfig" />

	<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>


</beans>