<div class="footer">

	<ul class="footer_t">
		<li class="footer_t_l">
			<div class="footer_t_title">联系我们</div>
			<div class="footer_t_l_dis">
				<span class="footer_t_l_disImg"></span> <span
					class="footer_t_l_disText">服务热线：4000 - 333 - 566</span>
			</div>

			<div class="footer_t_l_dis">
				<span class="footer_t_l_disImg footer_t_l_disImg1"></span> <span
					class="footer_t_l_disText">企业邮箱：info@51mdx.cn</span>
			</div>

			<div class="footer_t_l_dis">
				<span class="footer_t_l_disImg footer_t_l_disImg2"></span> <span
					class="footer_t_l_disText">企业QQ ：4000333566</span>
			</div>

			<div class="footer_t_l_dis">
				<span class="footer_t_l_disImg footer_t_l_disImg3"></span> <span
					class="footer_t_l_disText">公司地址：广东省深圳市南山区粤海街道科技园飞亚达大厦 18楼</span>
			</div>

		</li>

		<li class="footer_t_r">

			<div class="footer_t_r_l">
				<div class="footer_t_title">卖货郎官方微信</div>
				<div class="footer_t_r_code"></div>
			</div>

			<div class="footer_t_r_r">
				<div class="footer_t_title">卖货朗手机APP</div>
				<div class="footer_t_r_code footer_t_r_code1"></div>
			</div>
		</li>
	</ul>
	<div class="clear"></div>
	<div class="footer_c">
		<ul class="footer_friendship" id="index-footer-friendship">

		</ul>

	</div>
	<div class="footer_b">
		<script type="text/javascript">
		$(document).ready(function() {
			loadFooterMenu();
			link();
		});
		function loadFooterMenu(){
			$('#index-footer-menu').find('a').remove();
			$('#index-footer-menu').find('span').remove();
			$.ajax({
				type:'POST',
				dataType:'json',
				url:"/index/menu?position=footer",
				async:true,
				success:function(msg){
					if(typeof(msg)!='undefined'){
						var len=msg.length;
						$.each(msg,function(n,val){
							var name=val.name;
							var href=val.href;
							var target=val.target;
							var css=val.css;
							$('<a href="'+href+'" target="'+target+'" style="'+css+'" >'+　name　+'</a>').appendTo($('#index-footer-menu'));
							
							if(n+1!=len){
								$('<span>|</span>').appendTo($('#index-footer-menu'));
							}
						})
					}
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					return;
				}
			});
		}
		function link(){
			var ul=$('#index-footer-friendship');
			ul.find('li').remove();
			$.ajax({
				type:'POST',
				dataType:'json',
				url:"/index/link",
				async:true,
				success:function(msg){
					if(typeof(msg)!='undefined'){
						$('<li class="friendship_l">友情链接</li>').appendTo(ul);
						var li=$('<li class="friendship_r"></li>').appendTo(ul);
						$.each(msg,function(n,val){
							var name=val.title;
							var color=val.color;
							var image=val.image;
							var href=val.href;
							$('<a target="_blank" href="'+href+'" title="'+name+'">'+name+'</a>').appendTo(li);
						})
						$('<li class="clear"></li>').appendTo(ul);
					}
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					return;
				}
			});
		}
		</script>
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cbfe1137b940f0bc1d0e5f4db3a4fdab";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

		<ul>
			<li class="footer_b_t" id="index-footer-menu"></li>
			<li class="footer_b_b">&copy;2015 卖货郎集团 版权所有
				&copy;粤ICP备14095046号-2</li>

		</ul>
	</div>

</div>