<!--搜索部分-->
<div class="head_search">
	<a class="head_logo" href="/" title="mhl"></a>
</div>
<!--导航部分-->
<div class="head_bar">
	<ul class="head_bar_con">		
		<li class="head_bar_con_l" id="index-menu">
			<a title="首页" target="_self" class="checked" href="/">首页</a>
			<a title="首页" target="_self" class="" href="/">关于我们</a>
			<a title="首页" target="_self" class="" href="/">加盟合作</a>
			<a title="首页" target="_self" class="" href="/">新闻动态</a>
			<a title="首页" target="_self" class="" href="/">产品列表</a>
		</li>	
	</ul>
</div>