<div class="header navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="index.html"> <img
				src="media/image/offical_logo.png" alt="logo" width="86" height="14" />
			</a>

			<div class="navbar hor-menu hidden-phone hidden-tablet">
				<div class="navbar-inner">
					<ul class="nav">
						<li class="active"><a href="#"> 主页 </a></li>
						<li><a data-toggle="dropdown" class="dropdown-toggle"
							href="javascript:;"> <span class="selected"></span> 产品中心 <span
								class="arrow"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#"> 产品列表-1 </a></li>
								<li><a href="#"> 产品列表-2 </a></li>
								<li><a href="#"> 产品列表-3 </a></li>
								<li class="active"><a href="#"> 产品列表-4 </a></li>
								<li class="dropdown-submenu"><a tabindex="-1"
									href="javascript:;"> 更多产品 <span class="arrow"></span>
								</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">产品列表-1</a></li>
										<li class="dropdown-submenu"><a tabindex="-1"
											href="javascript:;">特殊产品<span class="arrow"></span></a>
											<ul class="dropdown-menu">
												<li><a tabindex="-1" href="#">特殊产品-1</a></li>
												<li><a tabindex="-1" href="#">特殊产品-1</a></li>
												<li><a tabindex="-1" href="#">特殊产品-1</a></li>
											</ul></li>
										<li><a tabindex="-1" href="#">产品列表-1</a></li>
										<li><a tabindex="-1" href="#">产品列表-1</a></li>
									</ul></li>
							</ul> <b class="caret-out"></b></li>
						<li><a data-toggle="dropdown" class="dropdown-toggle"
							href="javascript:;"> <span class="selected"></span> 新闻动态 <span
								class="arrow"></span></a>
							<ul class="dropdown-menu">
								<li  class="active"><a href="#"> 企业新闻 </a></li>
								<li><a href="#">行业新闻 </a></li>
							</ul>	
						</li>
						<li><a data-toggle="dropdown" class="dropdown-toggle" href="">更多
								<span class="arrow"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a href="index.html">客户反馈</a></li>
								<li><a href="index.html">联系我们</a></li>
								<!--<li><a href="index.html">帮助信息</a></li>-->
							</ul> <b class="caret-out"></b></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>