<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>${title!}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="${config.description!}" name="description" />
	<meta content="${config.author!}" name="author" />
	<meta content="${config.keyWords!}" name="keyWords" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->   
	<link href="${config.resourcePath!}/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/default.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="${config.resourcePath!}/media/css/promo.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/animate.css" rel="stylesheet" type="text/css"/>	
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="${config.resourcePath!}/media/image/favicon.ico" />
</head>
<body class="page-header-fixed page-full-width">
	<!--:include("/WEB-INF/views/common/header.html"){}  -->
<div class="page-container row-fluid">
<div class="page-content no-min-height">
<div class="container-fluid promo-page">
<div class="row-fluid">
<div class="span12">
	<div class="block-grey">
		<div class="container">
		<div id="promo_carousel" class="carousel slide">
		<div class="carousel-inner">
		<div class="active item">
		<div class="row-fluid">
			<div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">
				<h1>欢迎来到欧沃泉官方网站</h1>
				<p>公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 </p>
				<p>公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍</p>
				<a href="index.html" class="btn red big xlarge">
					联系我们
					<i class="m-icon-big-swapright m-icon-white"></i> 
				</a>
			</div>
			<div class="span5 animated rotateInDownLeft">
				<a href="/"><img src="${config.resourcePath!}/media/image/offical_logo.png" alt="公司介绍 " width="470" height="363"></a>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
	<div>
		<h3 ><span style="color:black;">新闻资讯</span></h3>
		<a href="#"><span style="float: right;color:red;">more>></span></a>
	</div>		
	<hr>
	<div class="block-transparent">
		<div class="container">
			<div class="row-fluid">
				<div class="span5 margin-bottom-20">
					<video src="http://www.w3school.com.cn/i/movie.ogg" controls="controls" >
						<h1>您的浏览器不支持 video 标签.</h1>
					</video>		
				</div>
				<div class="span7" >
						<div class="portlrt-body" style="float: right;">
							<ul style="list-style:none;position: relative;height:95px;">
								<li style="display: block;cursor: pointer;margin-bottom: 10px;">
									<div style="float: left;width: 80px;height: 80px;text-align: center;background-color: black;color: #fff;">
										<div style="font-size: 24px;margin-top: 16px;font-family:Microsoft Yahei;">29</div>
										<div style="font-size: 14px;font-weight: bold;margin-top: 9px;">2016-07</div>
									</div>
									<div style="float: left;width: 508px;height: 80px;background-color: #f8f8f8;">
										<div style="color: #2d2d2d;font-size: 14px;margin-top: 10px;padding: 0 15px 0 10px;">
											卖货郎与汇聚投资达成战略合作关系
										</div>
										<div style="padding: 0 15px 0 10px;height: 40px;line-height: 20px;overflow: hidden;margin-top: 8px;color: #7b7b7b;font-size: 12px;">
											今日上午，卖货郎与上海汇聚投资管理有限公司签订战略合作协议，正式建立战略合作关系。
										</div>
									</div>
								</li>
								<li style="display: block;cursor: pointer;margin-bottom: 10px;height:95px;"">								
									<div style="float: left;width: 80px;height: 80px;text-align: center;background-color: black;color: #fff;">
										<div style="font-size: 24px;margin-top: 16px;font-family:Microsoft Yahei;">29</div>
										<div style="font-size: 14px;font-weight: bold;margin-top: 9px;">2016-07</div>
									</div>
									<div style="float: left;width: 508px;height: 80px;background-color: #f8f8f8;">
										<div style="color: #2d2d2d;font-size: 14px;margin-top: 10px;padding: 0 15px 0 10px;">
											卖货郎与汇聚投资达成战略合作关系
										</div>
										<div style="padding: 0 15px 0 10px;height: 40px;line-height: 20px;overflow: hidden;margin-top: 8px;color: #7b7b7b;font-size: 12px;">
											今日上午，卖货郎与上海汇聚投资管理有限公司签订战略合作协议，正式建立战略合作关系。
										</div>
									</div>
								</li>
								<li style="display: block;cursor: pointer;margin-bottom: 10px;height:95px;"">
									
									<div style="float: left;width: 80px;height: 80px;text-align: center;background-color: black;color: #fff;">
										<div style="font-size: 24px;margin-top: 16px;font-family:Microsoft Yahei;">29</div>
										<div style="font-size: 14px;font-weight: bold;margin-top: 9px;">2016-07</div>
									</div>
									<div style="float: left;width: 508px;height: 80px;background-color: #f8f8f8;">
										<div style="color: #2d2d2d;font-size: 14px;margin-top: 10px;padding: 0 15px 0 10px;">
											卖货郎与汇聚投资达成战略合作关系
										</div>
										<div style="padding: 0 15px 0 10px;height: 40px;line-height: 20px;overflow: hidden;margin-top: 8px;color: #7b7b7b;font-size: 12px;">
											今日上午，卖货郎与上海汇聚投资管理有限公司签订战略合作协议，正式建立战略合作关系。
										</div>
									</div>
								</li>
								<li style="display: block;cursor: pointer;margin-bottom: 10px;height:95px;"">
									<div style="float: left;width: 80px;height: 80px;text-align: center;background-color: black;color: #fff;">
										<div style="font-size: 24px;margin-top: 16px;font-family:Microsoft Yahei;">29</div>
										<div style="font-size: 14px;font-weight: bold;margin-top: 9px;">2016-07</div>
									</div>
									<div style="float: left;width: 508px;height: 80px;background-color: #f8f8f8;">
										<div style="color: #2d2d2d;font-size: 14px;margin-top: 10px;padding: 0 15px 0 10px;">
											卖货郎与汇聚投资达成战略合作关系
										</div>
										<div style="padding: 0 15px 0 10px;height: 40px;line-height: 20px;overflow: hidden;margin-top: 8px;color: #7b7b7b;font-size: 12px;">
											今日上午，卖货郎与上海汇聚投资管理有限公司签订战略合作协议，正式建立战略合作关系。
										</div>
									</div>
								</li>
								<li style="display: block;cursor: pointer;margin-bottom: 10px;height:95px;"" >
									<div style="float: left;width: 80px;height: 80px;text-align: center;background-color: black;color: #fff;">
										<div style="font-size: 24px;margin-top: 16px;font-family:Microsoft Yahei;">29</div>
										<div style="font-size: 14px;font-weight: bold;margin-top: 9px;">2016-07</div>
									</div>
									<div style="float: left;width: 508px;height: 80px;background-color: #f8f8f8;">
										<div style="color: #2d2d2d;font-size: 14px;margin-top: 10px;padding: 0 15px 0 10px;">
											卖货郎与汇聚投资达成战略合作关系
										</div>
										<div style="padding: 0 15px 0 10px;height: 40px;line-height: 20px;overflow: hidden;margin-top: 8px;color: #7b7b7b;font-size: 12px;">
											今日上午，卖货郎与上海汇聚投资管理有限公司签订战略合作协议，正式建立战略合作关系。
										</div>
									</div>
								</li>			
							</ul>
							<!-- <a href="index.html" class="btn blue big xlarge">
								查看更多
								<i class="m-icon-big-swapright m-icon-white"></i>
							</a> -->
						</div>						
					</div>
			</div>
		</div>
	</div>
	<div class="headline">
		<h3 >推荐产品</h3>
		<a href="#"><span style="float: right;color:red;">more>></span></a>
	</div>	
	<hr>
	<div class="block-transparent">
		<div class="container">
			<div class="row-fluid margin-bottom-20">
				<div class="span6 margin-bottom-20">
					<h2>产品参数</h2>
					<p>产品型号：RO-A5S(金)</p>
					<p>过滤工艺：PP棉+颗粒碳+碳棒+RO膜+进口后置碳</p>
					<p>过滤精度：0.0001um</p>
					<p>产品尺寸：440*160*320（mm）</p>
					<p>净水流量：189L/天</p>
					<p>进水压力：0.1-0.4MPa</p>
					<p>进出水口径：2分口</p>
					<p>出水水质：优于《生活饮用水水质卫生规范》（2010），其中感官及微生物指标达到《瓶（桶）装饮用纯净水卫生标准》</p>
					<p>原厂地：中国深圳</p>
					<p>建议市场零售价：4180元/台</p>
				</div>
				<div class="span6 margin-bottom-20">
					<a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span3" >
					<h3><a href="#">产品标题1</a></h3>
					<p><a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a></p>
				</div>
				<div class="span3">
					<h3><a href="#">产品标题2</a></h3>
					<p><a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a></p>
				</div>
				<div class="span3">
					<h3><a href="#">产品标题3</a></h3>
					<p><a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a></p>
				</div>
				<div class="span3">
					<h3><a href="#">产品标题4</a></h3>
					<p><a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a></p>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h3 ><span style="color:black;">联系我们</span></h3>
	</div>	
	<hr>
	<div class="block-transparent">
		<div class="container">
			<div class="row-fluid margin-bottom-20">
				<div class="span6 margin-bottom-20">
					<p>服务热线：<span>4000 - xxx - xxx</span></p>
					<p>企业邮箱：xx@mail.com</p>
					<p>企业QQ ：492715037</p>
					<p>公司地址：深圳市南山区深南大道与铜鼓路交汇处华润城 大冲商务中心D座1302</p>
				</div>
				<div class="span6 margin-bottom-20">
					<div class="span3">
						<h3><a href="#">官方微信1</a></h3>
						<p><a href="#"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1727567261,707259290&fm=58" alt=""></a></p>
					</div>
					<div class="span3">
						<h3><a href="#">官方微信2</a></h3>
						<p><a href="#"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1727567261,707259290&fm=58" alt=""></a></p>
					</div>
					<!-- 谷歌地图地址 -->
					<div class="span3">
					
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</div>
</div>
</div>
</div>
<div class="footer">
	<div class="container">
		<div class="footer-inner">
			${config.copyright!}
		</div>
		<div class="footer-tools">
			<span class="go-top">
				<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
</div>
	<!-- BEGIN CORE PLUGINS -->
	<script src="${config.resourcePath!}/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="${config.resourcePath!}/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="${config.resourcePath!}/media/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="${config.resourcePath!}/media/js/excanvas.min.js"></script>
	<script src="${config.resourcePath!}/media/js/respond.min.js"></script>  
	<![endif]-->        
	<script src="${config.resourcePath!}/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="${config.resourcePath!}/media/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<script src="${config.resourcePath!}/media/js/app.js"></script>      
	<script>
		jQuery(document).ready(function() {    
		   App.init();
		   jQuery('#promo_carousel').carousel({
		      interval: 10000,
		      pause: 'hover'
		   });   
		   jQuery('#product_carousel').carousel({
			      interval: 10000,
			      pause: 'hover'
			   });
		});
	</script>
	
</body>
</html>