<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>${title!}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="${config.description!}" name="description" />
	<meta content="${config.author!}" name="author" />
	<meta content="${config.keyWords!}" name="keyWords" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->   
	<link href="${config.resourcePath!}/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/default.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="${config.resourcePath!}/media/css/promo.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/media/css/animate.css" rel="stylesheet" type="text/css"/>	
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="${config.resourcePath!}/media/image/favicon.ico" />
</head>
<body class="page-header-fixed page-full-width">
<!--:include("/WEB-INF/views/common/header.html"){}  -->
<div class="page-container row-fluid">
<div class="page-content no-min-height">
<div class="container-fluid promo-page">
<div class="row-fluid">
<div class="span12">
	<div class="block-grey">
		<div class="container">
		<div id="promo_carousel" class="carousel slide">
		<div class="carousel-inner">
		<div class="active item">
		<div class="row-fluid">
			<div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">
				<h1>欢迎来到欧沃泉官方网站</h1>
				<p>公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 </p>
				<p>公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍 公司介绍</p>
				<a href="index.html" class="btn red big xlarge">
					联系我们
					<i class="m-icon-big-swapright m-icon-white"></i> 
				</a>
			</div>
			<div class="span5 animated rotateInDownLeft">
				<a href="/"><img src="${config.resourcePath!}/media/image/offical_logo.png" alt="公司介绍 " width="470" height="363"></a>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
	<hr>
	<div class="block-transparent">
		<div class="container">
			<div class="row-fluid margin-bottom-20">
				<div class="span6 margin-bottom-20">
					<h2>产品参数</h2>
					<p>产品型号：RO-A5S(金)</p>
					<p>过滤工艺：PP棉+颗粒碳+碳棒+RO膜+进口后置碳</p>
					<p>过滤精度：0.0001um</p>
					<p>产品尺寸：440*160*320（mm）</p>
					<p>净水流量：189L/天</p>
					<p>进水压力：0.1-0.4MPa</p>
					<p>进出水口径：2分口</p>
					<p>出水水质：优于《生活饮用水水质卫生规范》（2010），其中感官及微生物指标达到《瓶（桶）装饮用纯净水卫生标准》</p>
					<p>原厂地：中国深圳</p>
					<p>建议市场零售价：4180元/台</p>
				</div>
				<div class="span6 margin-bottom-20">
					<a href="#"><img src="http://www.apaniwater.com/uploads/201601151452827724227509.jpg" alt=""></a>
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<p>功能特点：</p>
				<ul>
					<li>采用钢化玻璃面板，时尚大方</li>
					<li>椰壳活性炭，有效吸附水中余氯</li>
					<li>智能控制，水满停机，无需拔电</li>
					<li>智能冲洗，净化水质更干净</li>
					<li>高精度过滤，去除所有重金属，确保不结垢</li>
				</ul>
				<p>阿帕尼全自动RO净水机能够有效去除水中99%的细菌、病毒、重金属等一切杂质。净化出来的水不仅可直接生饮，还可用于泡茶、冲咖啡、制冷饮，洗出的水果不容易坏，衣服更干净，用其洗漱没有任何刺激作用，用净水器里的水蒸饭、煲汤，不仅入味，而且营养更易溶解，以便于被人体吸收。</p>
				<p>五级核心技术：高精度PP棉+颗粒型活性炭+高精度碳棒+RO反渗透膜+后置活性炭
					第一级：阿帕尼专用5um一体高精度pp滤芯，孔径紧密、均匀，可截留孔径5um以上的杂质，过滤效高达99%。具有流量大、耐腐蚀、耐高压、低成本等特点。用以阻挡水中的铁锈、泥沙、虫卵等大颗粒物质。使用期限为3-6个月。
					第二级：阿帕尼专用吸附系统颗粒碳，能强力吸附水中的有机物、化学农药、余氯、异色异味等；添加载银技术，在改善口感同时有效抑制细菌的生长。使用期限9-12个月。
					第三级：阿帕尼专用碳棒过滤精度高、压力损失小、流量大、纳污量大、使用寿命长、无毒无味、无二次污染，棒滤芯具有颗粒活性炭优良的吸附性能，并有效克 服了所有活性炭滤器使用中存在的炭粉泄漏缺陷。具有管式元件的精密过滤特性，能有效去除液体中的有机物、微粒、铁锈、余氯、异味等。使用期限8-10个月。
					第四级：阿帕尼专用RO反渗透，采用法国航天技术，历经多年的研发而成， RO膜孔径为0.0001微米（相当于大肠杆菌大小的1/6000），能截留水中的细菌、病毒、有机物、胶体、农药、重金属及大部分盐类，处理后的水甘甜可口，使用期限为3年。
					第五级：阿帕尼专用MTF6技术口感因子，抑制细菌再生，用于去除异味，调节纯水口感。MTF纳米合金技术工艺，有效防治矿物质流失，使纯水更加有利于人体的健康。使用期限12个月左右。
					维护保养
					更换滤芯的周期应该依据用户当地的水质的好坏，所含物质成份和水源的压力，水温及其用户使用的频率而定。如果用户注意更换滤芯，则可确保得到永久纯净的水质。
				</p>
			</div>			
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
	<div class="container">
		<div class="footer-inner">
			${config.copyright!}
		</div>
		<div class="footer-tools">
			<span class="go-top">
				<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
</div>
	<!-- BEGIN CORE PLUGINS -->
	<script src="${config.resourcePath!}/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="${config.resourcePath!}/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="${config.resourcePath!}/media/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="${config.resourcePath!}/media/js/excanvas.min.js"></script>
	<script src="${config.resourcePath!}/media/js/respond.min.js"></script>  
	<![endif]-->        
	<script src="${config.resourcePath!}/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="${config.resourcePath!}/media/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/media/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<script src="${config.resourcePath!}/media/js/app.js"></script>      
	<script>
		jQuery(document).ready(function() {    
		   App.init();
		   jQuery('#promo_carousel').carousel({
		      interval: 10000,
		      pause: 'hover'
		   });   
		   jQuery('#product_carousel').carousel({
			      interval: 10000,
			      pause: 'hover'
			   });
		});
	</script>
	
</body>
</html>